<% include header %>

<section>
		<section>
				<h1 class= "section-header"> 07 - Sachin Setty </h1>

			</section>
		<main>
				 
				<section>
					<img class="img-circle" src="/images/whatsapp2.jpg" height="300"width="300">
				<h3 class="section-header"><strong>  PRESENT:</strong></h3>
						<p class="section-header"> 
							<b>   I am new member for fall 2018 in applied computer science .</b></p>
				</section>
				<section id="past-section"><h3 class="section-header"><strong>  BACKGROUND</strong></h3>
							<p>
							<b>
							   I am from India, Adhra. I completed my undergraduation in Electronics and Communication Engineering from SRM University, Chennai. My Intrestes are swimming, reading books along with observing nature, love to cook and eat along with sleeping. 
							</b>
							</p>
				</section>
				
				<section id="future-section"><h3  class="section-header"><strong>  FUTURE-SECTION:</strong></h3>	
						 <p> <b>   I would like to establish my carrer as software developer where fields like Automation, Big Data and data analytics.
						 </b></p>
				</section>
				<section>
						 <h3 class="section-header">  SCHEDULE:</h3>
					<div class="div">
					<ul>
					<li>WEBAPPS</li>
					<li>MWF 02:00PM TO 02:50PM</li>
					
					<li>ADVANCE DATABASE </li>
					<li>MW 01:00AM TO 02:50AM </li>
					
					<li>OOPS</li>
					<li>TR 02:00PM TO 03:15PM</li>
					 
					<li>OOPSLAB</li>
					<li> R 03:35PM TO 05:35PM</li>
					
					
				</ul>  
				</div>
			</div>
			</div>
				</section>
					
				</article>		
				</main>
				
	



<aside class="center">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/97WtfXyjtRo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</aside>
<div>
	<div class="row">
	<div class="col-md-12">
	<img src="image/ss.jpg" class= "img-circle" width="130" height="201">
</div>
</div>

<% include footer %>
