.topnav {
    overflow: hidden;
    background-color: rgb(36, 2, 2);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

* {  
  margin: 0px;
  padding: 0px;
}

html {
  display: block;
}

body {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header, footer, aside{
  background-color: lightgrey;
}

main {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: #fff;
  color: #444;
  padding: 1em;
}

section {
  background-color: #006747;
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}

ol, ul {
  padding-left: 1em;
  padding-bottom: 1em;
}

li {
   text-align: left;
   font-size: 1em;
}

a {
  text-decoration: none;
}